This script configure the subject dataset, adding th subject path to the excel file with demographics

In [3]:
import pandas as pd
import re
import itertools
import os

In [4]:

included_extensions = ['nii', 'gz']
include = ['dswau']
#
# ad_adni3_path = '/run/media/kevrodz/Salvador/ADNI3_KEV_CLAUDIA/AD_ADNI3_V2/'
# ad_oasis3_path = '/run/media/kevrodz/Salvador/ADNI3_KEV_CLAUDIA/AD_OASIS3/'
# mci_adni3_path = '/run/media/kevrodz/Salvador/ADNI3_KEV_CLAUDIA/MCI_V2_ADNI3/'
# cn_ad_adni3_path = '/run/media/kevrodz/Salvador/ADNI3_KEV_CLAUDIA/CN_AD_ADNI3/'
# cn_ad_oasis3_path = '/run/media/kevrodz/Salvador/ADNI3_KEV_CLAUDIA/CN_OASIS3/'
# cn_mci_adni3_path = '/run/media/kevrodz/Salvador/ADNI3_KEV_CLAUDIA/CN_MCI_ADNI3/'


ad_adni3_path = '/run/media/kevrodz/GRUNECO/ADNI3_vols_originales_raw_preprocesados/AD/funcional_denoising/'
ad_oasis3_path = '/run/media/kevrodz/GRUNECO/OASIS3_preproc/AD_OASIS3/'
mci_adni3_path = '/run/media/kevrodz/GRUNECO/ADNI3_vols_originales_raw_preprocesados/MCI/funcional_denoising/'
cn_ad_adni3_path = '/run/media/kevrodz/GRUNECO/ADNI3_vols_originales_raw_preprocesados/CN_AD/funcional_denoising/'
cn_ad_oasis3_path = '/run/media/kevrodz/GRUNECO/OASIS3_preproc/CN_OASIS3/'
cn_mci_adni3_path = '/run/media/kevrodz/GRUNECO/ADNI3_vols_originales_raw_preprocesados/CN_MCI/funcional_denoising/'

ad_adni3_file_names = [fn for fn in os.listdir(ad_adni3_path)
                       if any(fn.endswith(ext) for ext in included_extensions)]
ad_oasis3_file_names = [fn for fn in os.listdir(ad_oasis3_path)
                       if any(fn.endswith(ext) for ext in included_extensions)]
mci_adni3_file_names = [fn for fn in os.listdir(mci_adni3_path)
                       if any(fn.endswith(ext) for ext in included_extensions)]
cn_ad_adni3_file_names = [fn for fn in os.listdir(cn_ad_adni3_path)
                       if any(fn.endswith(ext) for ext in included_extensions)]
cn_ad_oasis3_file_names = [fn for fn in os.listdir(cn_ad_oasis3_path)
                       if any(fn.endswith(ext) for ext in included_extensions)]
cn_mci_adni3_file_names = [fn for fn in os.listdir(cn_mci_adni3_path)
                       if any(fn.endswith(ext) for ext in included_extensions)]

file_names = [ad_adni3_file_names, ad_oasis3_file_names, mci_adni3_file_names,
              cn_ad_adni3_file_names, cn_ad_oasis3_file_names, cn_mci_adni3_file_names]
print('GROUP:\t SUBJECTS')
print(f'ad_adni3_file_names: {len(ad_adni3_file_names)}\nad_oasis3_file_names: {len(ad_oasis3_file_names)}'
      f'\nmci_adni3_file_names: {len(mci_adni3_file_names)}\ncn_ad_adni3_file_names: {len(cn_ad_adni3_file_names)}'
      f'\ncn_ad_oasis3_file_names: {len(cn_ad_oasis3_file_names)}\ncn_mci_adni3_file_names: {len((cn_mci_adni3_file_names))}')

GROUP:	 SUBJECTS
ad_adni3_file_names: 27
ad_oasis3_file_names: 37
mci_adni3_file_names: 58
cn_ad_adni3_file_names: 29
cn_ad_oasis3_file_names: 56
cn_mci_adni3_file_names: 57

In [5]:
df_all = pd.read_excel('/run/media/kevrodz/Salvador/ADNI3_KEV_CLAUDIA/definitivos_ADNI3_OASIS3.xlsx', sheet_name='Todo_ADNI_OASIS')
df_all.groupby('centro').count()

,ID,SEXO,EDAD,APOE,MMSE,CDR_total,CDR_SOB,Escolaridad,Scanner,status
centro,,,,,,,,,,
ADNI3,171,171,171,113,171,171,171,171,171,171
OASIS3,93,93,93,93,93,93,93,93,93,93

In [6]:
df_all.head()

,ID,SEXO,EDAD,APOE,MMSE,CDR_total,CDR_SOB,Escolaridad,Scanner,status,centro
0,6264,M,56.5,44.0,19,1.0,4.5,12,siemens,AD,ADNI3
1,6833,F,87.1,NaN,23,0.5,4.5,16,siemens,AD,ADNI3
2,6712,M,90.6,NaN,19,1.0,7.0,17,philips,AD,ADNI3
3,6013,F,60.4,33.0,23,1.0,5.5,12,siemens,AD,ADNI3
4,6690,F,67.8,NaN,20,1.0,6.0,14,siemens,AD,ADNI3

In [7]:
df_all.shape

(264, 11)

In [8]:
len(file_names)

6

In [9]:
list_set_adjusted = []
list_set_adjusted_all = []

for group in range(len(file_names)):
    list_set = [list(i) for i in itertools.product(df_all.ID, file_names[group])]
    for i in list_set:
        if group in [0, 2, 3, 5]:  # ADNI3
            if i[1].find(str('S_{0:04}'.format(i[0]))) != -1:
                list_set_adjusted.append([i[0], str(i[1])])
        elif group in [1, 4]:  # OASIS3
            if isinstance(i[0], str):
                if i[1].find(re.findall('\d+', i[0])[0]) != -1:
                    list_set_adjusted.append([i[0], str(i[1])])
    #list_set_adjusted_all.append(list_set_adjusted)
list_set_adjusted_all = pd.DataFrame(list_set_adjusted, columns=['ID', 'rs_fmri'])

In [10]:
list_set_adjusted_all.head(300)

       ID                    rs_fmri
0    6264   dswauADNI_003_S_6264.nii
1    6833  dswauADNI_003_S_6833_.nii
2    6712   dswauADNI_019_S_6712.nii
3    6013  dswauADNI_022_S_6013_.nii
4    6690  dswauADNI_082_S_6690_.nii
..    ...                        ...
259  6185  dswauADNI_020_S_6185_.nii
260  6064  dswauADNI_168_S_6064_.nii
261  6259  dswauADNI_003_S_6259_.nii
262  6559   dswauADNI_126_S_6559.nii
263  2332   dswauADNI_129_S_2332.nii

[264 rows x 2 columns]

In [11]:
df_all = pd.merge(df_all, list_set_adjusted_all, how='left' ,on='ID')
df_all.head(300)

,ID,SEXO,EDAD,APOE,MMSE,CDR_total,CDR_SOB,Escolaridad,Scanner,status,centro,rs_fmri
0,6264,M,56.5,44.0,19,1.0,4.5,12,siemens,AD,ADNI3,dswauADNI_003_S_6264.nii
1,6833,F,87.1,NaN,23,0.5,4.5,16,siemens,AD,ADNI3,dswauADNI_003_S_6833_.nii
2,6712,M,90.6,NaN,19,1.0,7.0,17,philips,AD,ADNI3,dswauADNI_019_S_6712.nii
3,6013,F,60.4,33.0,23,1.0,5.5,12,siemens,AD,ADNI3,dswauADNI_022_S_6013_.nii
4,6690,F,67.8,NaN,20,1.0,6.0,14,siemens,AD,ADNI3,dswauADNI_082_S_6690_.nii
...,...,...,...,...,...,...,...,...,...,...,...,...
259,6185,M,82.7,33.0,27,0.0,0.5,18,siemens,CN_MCI,ADNI3,dswauADNI_020_S_6185_.nii
260,6064,F,69.1,NaN,30,0.0,0.0,18,siemens,CN_MCI,ADNI3,dswauADNI_168_S_6064_.nii
261,6259,M,71.4,34.0,29,0.0,0.0,14,siemens,CN_MCI,ADNI3,dswauADNI_003_S_6259_.nii
262,6559,F,68.5,33.0,30,0.5,1.5,16,general_electric,CN_MCI,ADNI3,dswauADNI_126_S_6559.nii
263,2332,F,76.7,23.0,30,0.0,0.0,16,general_electric,CN_MCI,ADNI3,dswauADNI_129_S_2332.nii

In [12]:
df_all.shape

(264, 12)

In [13]:
df_all.to_excel('/run/media/kevrodz/Salvador/ADNI3_KEV_CLAUDIA/ADNI3_OASIS3_demographics_filenames_orig.xlsx', index=False)

In [14]:
df_all.to_excel('ADNI3_OASIS3_demographics_filenames.xlsx', index=False)